@model ShinyRockForum.Models.Comment


@{
    ViewData["Title"] = "Create";
}
   
<h4>Reply</h4>
<hr />
<div>
    <form asp-controller="Comments" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@ViewBag.DiscussionId" name="DiscussionId" />
            
        <div class="form-group">
            <textarea asp-for="Content" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary m-2" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
