@model ShinyRockForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}


<div class="card border-secondary mb-3" style="m">
    <div class="card-header">
        <a class="nav-link text-dark" asp-area="" asp-controller="Discussions" asp-action="Details" asp-route-id="@Model.DiscussionId">@Model.Title</a>
    </div>
    <div class="card-body text-secondary">
        <p class="card-text">Posted at @Model.CreateDate by SomeUserNameHere</p>

        <p class="card-text">@Model.Content</p>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscussionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
