html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.forum-background {
    background-color: rgb(213,172,134);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-background {
    
    background: url('/imgs/tumbledrocksbanner.png') no-repeat center center;
    background-size: cover;
}


.navbar-white-shadow {
    text-shadow: 2px 2px 6px rgba(213,172,134, 1), -2px -2px 6px rgba(255, 255, 255, 1);
}

/* Custom styles for nav-pills */
.nav-pills .nav-link.active {
    background-color: white !important; /* White background */
    color: black !important; /* Black text */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1);
}

/* Remove rounding from nav-pills */
.nav-pills .nav-link {
    border-radius: 0 !important;
    color: black !important;
}

/* Add spacing between nav-items */
.nav-pills .nav-item {
    border-radius: 0 !important;
    background-color: lightgray !important;
    margin-right: 10px; /* Adjust as needed */
    border: 1px solid #ddd; /* Optional: Add a border for better visibility */
}